services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse-server
    environment:
      - CLICKHOUSE_USER=admin
      - CLICKHOUSE_PASSWORD=admin
      - CLICKHOUSE_DB=warehouse
    ports:
      - "8123:8123"
      - "9002:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./initdb:/docker-entrypoint-initdb.d:ro
      - ./config/kafka_config.xml:/etc/clickhouse-server/config.d/kafka_config.xml:ro
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    networks:
      - data-pipeline

volumes:
  clickhouse_data:

networks:
  data-pipeline:
    external: true