apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: dqops
data:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_DB: sourcedb
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-metadata-config
  namespace: dqops
data:
  POSTGRES_USER: openmetadata_user
  POSTGRES_PASSWORD: openmetadata_password
  POSTGRES_DB: openmetadata_db
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-config
  namespace: dqops
data:
  MINIO_ROOT_USER: admin
  MINIO_ROOT_PASSWORD: password
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: elasticsearch-config
  namespace: dqops
data:
  discovery.type: "single-node"
  ES_JAVA_OPTS: "-Xms1024m -Xmx1024m"
  xpack.security.enabled: "false"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: openmetadata-server-config
  namespace: dqops
data:
  OPENMETADATA_CLUSTER_NAME: "openmetadata"
  SERVER_PORT: "8585"
  SERVER_ADMIN_PORT: "8586"
  LOG_LEVEL: "INFO"
  DB_DRIVER_CLASS: "org.postgresql.Driver"
  DB_SCHEME: "postgresql"
  DB_USER: "openmetadata_user"
  DB_PASSWORD: "openmetadata_password"
  DB_HOST: "postgres-metadata"
  DB_PORT: "5432"
  OM_DATABASE: "openmetadata_db"
  SEARCH_TYPE: "elasticsearch"
  ELASTICSEARCH_HOST: "elasticsearch"
  ELASTICSEARCH_PORT: "9200"
  ELASTICSEARCH_SCHEME: "http"
  AUTHENTICATION_PROVIDER: "basic"
  AUTHORIZER_CLASS_NAME: "org.openmetadata.service.security.DefaultAuthorizer"
  AUTHORIZER_REQUEST_FILTER: "org.openmetadata.service.security.JwtFilter"
  AUTHORIZER_ADMIN_PRINCIPALS: "[admin]"
  AUTHORIZER_PRINCIPAL_DOMAIN: "open-metadata.org"
  MIGRATION_LIMIT_PARAM: "1200"
  DATABASE_MIGRATION_VALIDATE_ONLY: "false"
  PIPELINE_SERVICE_CLIENT_ENABLED: "true"
  PIPELINE_SERVICE_CLIENT_ENDPOINT: "http://ingestion:8080"
  SERVER_HOST_API_URL: "http://openmetadata-server:8585/api"
  AIRFLOW_USERNAME: "admin"
  AIRFLOW_PASSWORD: "admin"
  SECRET_MANAGER: "db"
  EVENT_MONITOR: "prometheus"
  OPENMETADATA_HEAP_OPTS: "-Xmx1G -Xms1G"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ingestion-config
  namespace: dqops
data:
  AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session"
  AIRFLOW__CORE__EXECUTOR: "LocalExecutor"
  AIRFLOW__OPENMETADATA_AIRFLOW_APIS__DAG_GENERATED_CONFIGS: "/opt/airflow/dag_generated_configs"
  DB_HOST: "postgres-metadata"
  DB_PORT: "5432"
  AIRFLOW_DB: "airflow_db"
  DB_USER: "airflow_user"
  DB_SCHEME: "postgresql+psycopg2"
  DB_PASSWORD: "airflow_pass"
  OPENMETADATA_SERVER_URL: "http://openmetadata-server:8585/api"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: spark-config
  namespace: dqops
data:
  SPARK_MASTER_HOST: "spark-master"
  SPARK_MASTER_PORT: "7077"
  SPARK_MASTER_WEBUI_PORT: "8080"
  SPARK_WORKER_CORES: "2"
  SPARK_WORKER_MEMORY: "2g"
  SPARK_WORKER_WEBUI_PORT: "8081"

