apiVersion: v1 
kind: Namespace 
metadata:
  name: data-pipeline
---
apiVersion: v1 
kind: ConfigMap
metadata:
  name: minio-entrypoint
  namespace: data-pipeline
data:
  entrypoint.sh: |
    #!/bin/sh
    set -e

    echo "Starting MinIO..."
    minio server /data --console-address ":9001" &
    MINIO_PID=$!

    echo "Waiting for MinIO to be ready..."
    
    until mc alias set myminio http://localhost:9000 "$MINIO_ROOT_USER" "$MINIO_ROOT_PASSWORD" 2>/dev/null; do
      sleep 1
    done

    echo "Creating buckets..."
    mc mb myminio/bronze --ignore-existing
    mc mb myminio/silver --ignore-existing
    mc mb myminio/gold --ignore-existing
    mc mb myminio/mlflow-artifacts --ignore-existing

    echo "Buckets created:"
    mc ls myminio

    echo "MinIO is ready."
    wait $MINIO_PID

---
apiVersion: v1 
kind: Secret
metadata: 
  name: minio-credential
  namespace: data-pipeline
type: Opaque
stringData: 
  MINIO_ROOT_USER: minio_access_key
  MINIO_ROOT_PASSWORD: minio_secret_key

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: data-pipeline
  labels:
    app: minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels: 
        app: minio
    spec:
      containers:
        - name: minio
          image: minio/minio
          command: ["/bin/sh", "/entrypoint/entrypoint.sh"]
          ports: 
            - name: api 
              containerPort: 9000
            - name: console
              containerPort: 9001
          envFrom:
            - secretRef:
                name: minio-credential
          volumeMounts:
            - name: entrypoint
              mountPath: /entrypoint
            - name: data
              mountPath: /data
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
                memory: "1Gi"
                cpu: "1000m"
          livenessProbe:
            httpGet:
              path: /minio/health/live
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /minio/health/ready
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 10

      volumes:
        - name: entrypoint
          configMap:
            name: minio-entrypoint
            defaultMode: 0755
        - name: data
          persistentVolumeClaim:
            claimName: minio-data
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-data
  namespace: data-pipeline
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
---
apiVersion: v1
kind: Service
metadata:
  name: minio-svc
  namespace: data-pipeline
  labels:
    app: minio
spec:
  type: ClusterIP
  ports:
    - name: api
      port: 9000
      targetPort: 9000
    - name: console
      port: 9001
      targetPort: 9001
  selector:
    app: minio