{% import 'dialects/spark.sql.jinja2' as lib with context -%}

SELECT
    MD5(CONCAT_WS(',', 
        COLLECT_LIST(data_type ORDER BY ordinal_position)
    )) AS actual_value
FROM information_schema.columns
WHERE table_schema = {{ lib.make_text_constant(lib.macro_schema_name) }}
AND table_name = {{ lib.make_text_constant(lib.macro_table_name) }}
