  services:
    superset:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: superset
      environment:
        - ADMIN_USERNAME=admin
        - ADMIN_EMAIL=admin@superset.com
        - ADMIN_PASSWORD=admin
      ports:
        - '8088:8088'
      depends_on:
        - redis
      networks:
        - default

    redis:
      image: redis:7
      container_name: superset-redis
      restart: unless-stopped
      networks:
        - default

  networks:
    default:
      name: bigdata-net
      external: true
