services:
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_storage:/data
    environment:
      MINIO_ROOT_USER: minio_access_key
      MINIO_ROOT_PASSWORD: minio_secret_key
    command: server --console-address ":9001" /data
    networks:
      - default

volumes:
  minio_storage:
networks:
  default:
    name: bigdata-net
    external: true