services:
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9010:9000"
      - "9011:9001"
    volumes:
      - minio_storage:/data
    environment:
      MINIO_ROOT_USER: minio_access_key
      MINIO_ROOT_PASSWORD: minio_secret_key
    command: server /data --console-address ":9001"

volumes:
  minio_storage:

networks:
  default:
    name: data-pipeline
    external: true