services:
  kafka-node-1:
    image: confluentinc/cp-enterprise-kafka:7.6.0
    container_name: kafka-node-1
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      CLUSTER_ID: Kltcs-KRS8CJybmyyVtXuA
      KAFKA_PROCESS_ROLES: broker, controller
      KAFKA_LISTENERS: PLAINTEXT://:9092, CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-node-1:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT, CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-node-1:9093, 2@kafka-node-2:9093, 3@kafka-node-3:9093
      KAFKA_LOG_DIRS: /var/lib/kafka/data-node-1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 4
      KAFKA_DEFAULT_REPLICATION_FACTOR: 4
      KAFKA_MIN_INSYNC_REPLICAS: 3
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: "true"
      KAFKA_CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka-node-1:9092,kafka-node-2:9092,kafka-node-3:9092,kafka-node-4:9092
      KAFKA_CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 4
      KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter

    volumes:
      - ./kafka-node-1-data:/var/lib/kafka/data-node-1
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server=kafka-node-1:9092", "--list"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 45s
    networks:
      - kafka-network
      - default
  kafka-node-2:
    image: confluentinc/cp-enterprise-kafka:7.6.0
    container_name: kafka-node-2
    ports:
      - "9093:9092"
    environment:
      KAFKA_NODE_ID: 2
      CLUSTER_ID: Kltcs-KRS8CJybmyyVtXuA
      KAFKA_PROCESS_ROLES: broker, controller
      KAFKA_LISTENERS: PLAINTEXT://:9092, CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-node-2:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT, CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-node-1:9093, 2@kafka-node-2:9093, 3@kafka-node-3:9093
      KAFKA_LOG_DIRS: /var/lib/kafka/data-node-2
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 4
      KAFKA_DEFAULT_REPLICATION_FACTOR: 4
      KAFKA_MIN_INSYNC_REPLICAS: 3
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: "true"
      KAFKA_CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka-node-1:9092,kafka-node-2:9092,kafka-node-3:9092,kafka-node-4:9092
      KAFKA_CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 4
      KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
    volumes:
      - ./kafka-node-2-data:/var/lib/kafka/data-node-2
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server=kafka-node-2:9092", "--list"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 45s
    networks:
      - kafka-network
      - default

  kafka-node-3:
    image: confluentinc/cp-enterprise-kafka:7.6.0
    container_name: kafka-node-3
    ports:
      - "9094:9092"
    environment:
      KAFKA_NODE_ID: 3
      CLUSTER_ID: Kltcs-KRS8CJybmyyVtXuA
      KAFKA_PROCESS_ROLES: broker, controller
      KAFKA_LISTENERS: PLAINTEXT://:9092, CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-node-3:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT, CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-node-1:9093, 2@kafka-node-2:9093, 3@kafka-node-3:9093
      KAFKA_LOG_DIRS: /var/lib/kafka/data-node-3
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 4
      KAFKA_DEFAULT_REPLICATION_FACTOR: 4
      KAFKA_MIN_INSYNC_REPLICAS: 3
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: "true"
      KAFKA_CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka-node-1:9092,kafka-node-2:9092,kafka-node-3:9092,kafka-node-4:9092
      KAFKA_CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 4
      KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter

    volumes:
      - ./kafka-node-3-data:/var/lib/kafka/data-node-3
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server=kafka-node-3:9092", "--list"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 45s
    networks:
      - kafka-network
      - default

  kafka-node-4:
    image: confluentinc/cp-enterprise-kafka:7.6.0
    container_name: kafka-node-4
    ports:
      - "9095:9092"
    environment:
      KAFKA_NODE_ID: 4
      CLUSTER_ID: Kltcs-KRS8CJybmyyVtXuA
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-node-4:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT, CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-node-1:9093, 2@kafka-node-2:9093, 3@kafka-node-3:9093
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 4
      KAFKA_DEFAULT_REPLICATION_FACTOR: 4
      KAFKA_MIN_INSYNC_REPLICAS: 3
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: "true"
      KAFKA_CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka-node-1:9092,kafka-node-2:9092,kafka-node-3:9092,kafka-node-4:9092
      KAFKA_CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 4
      KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter

    volumes:
      - ./kafka-node-4-data:/var/lib/kafka/data-node-4
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server=kafka-node-4:9092", "--list"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 45s
    networks:
      - kafka-network
      - default
  
  schema-registry:
    image: confluentinc/cp-schema-registry:7.6.0
    container_name: schema-registry
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: kafka-node-1:9092,kafka-node-2:9092,kafka-node-3:9092,kafka-node-4:9092
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
      SCHEMA_REGISTRY_DEBUG: true
      KAFKA_SCHEMA_REGISTRY_TOPIC_REPLICATION_FACTOR: 3
    restart: on-failure
    networks:
      - kafka-network
      - default 
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/subjects"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 45s

  control-center:
    image: confluentinc/cp-enterprise-control-center:7.6.0
    container_name: control-center
    ports:
      - "9021:9021"
    environment:
      CONTROL_CENTER_BOOTSTRAP_SERVERS: PLAINTEXT://kafka-node-1:9092,PLAINTEXT://kafka-node-2:9092,PLAINTEXT://kafka-node-3:9092,PLAINTEXT://kafka-node-4:9092
      CONTROL_CENTER_SCHEMA_REGISTRY_URL: http://schema-registry:8081
      KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: "true"
      KAFKA_CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: PLAINTEXT://kafka-node-1:9092,PLAINTEXT://kafka-node-2:9092,PLAINTEXT://kafka-node-3:9092,PLAINTEXT://kafka-node-4:9092
      KAFKA_CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 4
      CONTROL_CENTER_REPLICATION_FACTOR: 3
      CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 4
      KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter

    depends_on:
      kafka-node-1:
        condition: service_healthy
      kafka-node-2:
        condition: service_healthy
      kafka-node-3:
        condition: service_healthy
      kafka-node-4:
        condition: service_healthy
    networks:
      - kafka-network
      - default

networks:
  kafka-network:
    driver: bridge
  default:
    name: bigdata-net
    external: true