{% import 'dialects/spark.sql.jinja2' as lib with context -%}

SELECT
    CASE 
        WHEN COUNT(DISTINCT {{ lib.quote_identifier(column_name) }}) = 0 THEN 0
        ELSE (1 - (COUNT(DISTINCT {{ lib.quote_identifier(column_name) }}) AS DOUBLE) 
              / CAST(COUNT(*) AS DOUBLE)) * 100.0
    END AS actual_value
    {{- lib.render_data_grouping_projections('analyzed_table', indentation='    ') }}
    {{- lib.render_time_dimension_projection('analyzed_table', indentation='    ') }}
FROM {{ lib.render_target_table() }} AS analyzed_table
{{- lib.render_where_clause(
    indentation='',
    extra_filter = 'CAST(' ~ lib.quote_identifier(column_name) ~ ' AS STRING) IS NOT NULL'
) }}
{{- lib.render_group_by() -}}
{{- lib.render_order_by() -}}